.App {
  max-width: 500px;
  height: 100vh;
  background: radial-gradient(
      538.66% 174.81% at 49.87% 49.93%,
      #151414 17.19%,
      #dcdcdc 100%
    )
    no-repeat;
  background-size: cover;
  margin: auto;
}
